body{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-attachment:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
table{
  border-collapse: collapse;
  width: 75%;
}
table th{
  color: #fff;
}
table td{
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}
.dltscd {
  background: #fff;
  color: darkred;
  font-size: 1.2em;
  padding: 5px 30px;
  text-decoration: none;
}
.dltscd:hover{
  background: darkred;
  color: #fff;
}